<div class="container feature" style="margin-top: 50px; margin-bottom: 50px;">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <h2>
                Features of School ERP
            </h2>
            <p>Our ERP software Modules moderinized techniques and methodologies.</p>
        </div>
    </div>
    <div class="row">

        <div class="col-md-4">
            <div class="container feature2">
                <div class="row">
                    <div class="col-md-4">
                        <a href="https://mail.google.com" style="color: orangered; "><i
                                class="fa-solid fa-book fa-4x"></i></a>
                    </div>
                    <div class="col-md-8">
                        <h4>Leason Plan</h4>
                        <p>This special feature contains important guidlines and procedure for teaching reasons in a
                            systematic way. We will generate a yearly calender. <a href="">Read More</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container feature2">
                <div class="row">
                    <div class="col-md-4">
                        <a href="https://mail.google.com" style="color: orangered; "><i
                                class="fa-solid fa-computer fa-4x"></i></a>
                    </div>
                    <div class="col-md-8">
                        <h4>Data Management</h4>
                        <p>This special feature contains important guidelines and procedure for teaching lessons in a
                            systematic way. We will generate a yearly calendar <a href="">Read More</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container feature2">
                <div class="row">
                    <div class="col-md-4">
                        <a href="https://mail.google.com" style="color: orangered; "><i
                                class="fa-solid fa-tty fa-4x"></i></a>
                    </div>
                    <div class="col-md-8">
                        <h4>Communication</h4>
                        <p>This special feature contains important guidelines and procedure for teaching lessons in a
                            systematic way. We will generate a yearly calendar. <a href="">Read More</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4">
                <div class="container feature2">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="https://mail.google.com" style="color: orangered; "><i
                                    class="fa-solid fa-calendar-days fa-4x"></i></a>
                        </div>
                        <div class="col-md-8">
                            <h4>Attendance</h4>
                            <p>
                                This special feature contains important guidelines and procedure for teaching lessons in
                                a systematic way. We will generate a yearly calendar. <a href="">Read More</a> </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container feature2">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="https://mail.google.com" style="color: orangered; "><i
                                    class="fa-solid fa-copy fa-4x"></i></a>
                        </div>
                        <div class="col-md-8">
                            <h4>Enquiry Management</h4>
                            <p>This special feature contains important guidelines and procedure for teaching lessons in
                                a systematic way. We will generate a yearly calendar <a href="">Read More</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container feature2">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="https://mail.google.com" style="color: orangered; "><i
                                    class="fa-regular fa-book fa-4x"></i></a>
                        </div>
                        <div class="col-md-8">
                            <h4>Homework</h4>
                            <p>This special feature contains important guidelines and procedure for teaching lessons in
                                a systematic way. We will generate a yearly calendar. <a href="">Read More</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-4">
                    <div class="container feature2">
                        <div class="row">
                            <div class="col-md-4">
                                <a href="https://mail.google.com" style="color: orangered; "><i
                                        class="fa-solid fa-newspaper fa-4x"></i></a>
                            </div>
                            <div class="col-md-8">
                                <h4>News & Circulars</h4>
                                <p>This special feature contains important guidlines and procedure for teaching reasons
                                    in a systematic way. We will generate a yearly calender. <a href="">Read More</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container feature2">
                        <div class="row">
                            <div class="col-md-4">
                                <a href="https://mail.google.com" style="color: orangered; "><i
                                        class="fa-solid fa-circle-user fa-4x"></i></a>
                            </div>
                            <div class="col-md-8">
                                <h4>Gallery</h4>
                                <p>This special feature contains important guidelines and procedure for teaching lessons
                                    in a systematic way. We will generate a yearly calendar <a href="">Read More</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container feature2">
                        <div class="row">
                            <div class="col-md-4">
                                <a href="https://mail.google.com" style="color: orangered; "><i
                                        class="fa-regular fa-calendar-days fa-4x"></i></a>
                            </div>
                            <div class="col-md-8">
                                <h4>Calendar</h4>
                                <p>This special feature contains important guidelines and procedure for teaching lessons
                                    in a systematic way. We will generate a yearly calendar. <a href="">Read More</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>