<div class="container text-center" style="margin-top: 20px; margin-bottom: 20px;">
    <h2>Our Students Gallery</h2>
    <p>Morbi liquila massa, commedo at nisl tincidunt, dignissim feugiat mérus Suspendisse placerat <br> lapinta
        porttitor Vivarius</p>
</div>
<div class="container imggirl" style="margin-bottom: 20px;">
    <div class="row">
        <div class="col-md-4">
            <img src="assets/girl7.jpg" alt="">
        </div>
        <div class="col-md-4">
            <img src="assets/girlmath1.jfif" alt="">
        </div>
        <div class="col-md-4">
            <img src="assets/irl5.jfif" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="assets/girlmath.jfif" alt="">
        </div>
        <div class="col-md-4">
            <img src="assets/boypla.jfif" alt="">
        </div>
        <div class="col-md-4">
            <img src="assets/girlmath3.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="assets/girl2.jfif" alt="">
        </div>
        <div class="col-md-4">
            <img src="assets/girl1.jfif" alt="">
        </div>
        <div class="col-md-4">
            <img src="assets/girlpla.webp" alt="">
        </div>
    </div>
</div>