<!--header-->
<div class="bigimage">
  <div class="overlay">
    <nav class="navbar navbar-expand-lg">
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <i class="fa fa-toggle-on" aria-hidden="true"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
          <a routerLink="/home" routerLinkActive="active" class="nav-item nav-link"
            style="font-size: xx-large; color: black; font-weight: bolder;">edu</a>
        </div>
        <div class="navbar-nav mx-auto">
          <a routerLink="/home" routerLinkActive="active" class="nav-item nav-link">HOME</a>
          <a routerLink="/about" routerLinkActive="active" class="nav-item nav-link">ABOUT US</a>
          <a routerLink="/features" routerLinkActive="active" class="nav-item nav-link">FEATURES</a>
          <a routerLink="/talent" routerLinkActive="active" class="nav-item nav-link">TALENT BOX</a>
          <a routerLink="/mittsure" routerLinkActive="active" class="nav-item nav-link">MITTSURE BOOKS</a>
          <a routerLink="/gallery" routerLinkActive="active" class="nav-item nav-link">GALLERY</a>
          <a routerLink="/login" routerLinkActive="active" class="nav-item nav-link">DIGITAL LEARNING</a>
          <a routerLink="/contact" routerLinkActive="active" class="nav-item nav-link">CONTACT US</a>
          <a routerLink="/login" routerLinkActive="active" class="nav-item nav-link">LOGIN</a>
        </div>
      </div>
    </nav>


    <div class="container">
      <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
          <h2 style="color: white; font-weight: bolder;">An Icebreaking Revolution </h2>
          <h2 style="color: white; font-weight: bolder;"> in the Academic Era</h2>
          <p style="color: white;">A revolutionary digital platform in field of education, committed on social
            empowerment and
            enhancing learning capabilities & talent recognition hence, building cultural values for better
            society through scientifically formulated curriculum based books and interactive learning
            digital content.</p>
          <button class="btn btn-warning" style="border-radius: 10px;"><a routerLink="/contact"
              style="color: black;">CONTACT US</a></button>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>


<!--Footer-->
<div class="footer" style="background-color: rgb(235, 231, 231);">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="container">
            <h4>ABOUT US</h4>
          </div>
          <div class="container">
            <p>Our unique feature set includes mobile & web based application for accessing value added services and
              benefits focussing on overall growth & ecosystem development.</p>
            <p>A revolutionary digital platform in field of education, committed on social empowerment and enhancing
              learning capabilities & talent recognition hence</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container">
            <h4 style="color: black;">USEFUL LINKS</h4>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <ul>
                  <a href="" style="color: black;">
                    <li>Lesson Plan</li>
                  </a>
                  <a href="" style="color: black;">
                    <li> Galery</li>
                  </a>
                  <a href="" style="color: black;">
                    <li> Communication</li>
                  </a>
                  <a href="" style="color: black;">
                    <li> Attendance</li>
                  </a>
                  <a href="" style="color: black;">
                    <li>Calender</li>
                  </a>
                  <a href="" style="color: black;">
                    <li>Homework</li>
                  </a>
                </ul>
              </div>
              <div class="col-md-6">
                <a href="" style="color: black;">
                  <li>News & Circulars</li>
                </a>
                <a href="" style="color: black;">
                  <li>Data Management</li>
                </a>
                <a href="" style="color: black;">
                  <li>Enquiry Management</li>
                </a>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container">
            <h4 style="color: black;">CONTACT US</h4>
          </div>
          <div class="container">
            <ul>

              <a href="" style="color: black;">
                <li>Address: G-2 , G-5 Appartment Near Sunshine Honda Showroom ,Civil Lines, Hawa Sadak,Jaipur
                  Rajasthan.
                </li>
              </a>
              <a href="" style="color: black;">
                <li>Call Us: +91 99833 88855</li>
              </a>
              <a href="" style="color: black;">
                <li>Email Us: info@digitalawaz.com</li>
              </a>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">

      </div>
      <div class="col-md-4">
        <p>2022 edu.com | All right reserved</p>
      </div>
      <div class="col-md-4">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <a href="https://www.facebook.com/campaign/landing.php?campaign_id=14884913640&extra_1=s%7Cc%7C589460569849%7Cb%7Cfacebook%20%27%7C&placement=&creative=589460569849&keyword=facebook%20%27&partner_id=googlesem&extra_2=campaignid%3D14884913640%26adgroupid%3D128696220912%26matchtype%3Db%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-327195741349%26loc_physical_ms%3D9301731%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=CjwKCAjwzuqgBhAcEiwAdj5dRiKgIfD5DH2B2BdAc4tvr7HCmEHS42qj_P6kTngg9x6XweY5OIbjPxoC-CgQAvD_BwE"
                style="color: darkblue;"><i class="fa-brands fa-facebook fa-2x"></i></a>
            </div>
            <div class="col-md-3">
              <a href="https://twitter.com/login?lang=en" style="color: blue;"><i
                  class="fa-brands fa-twitter fa-2x"></i></a>
            </div>
            <div class="col-md-3">
              <a href="https://web.whatsapp.com/" style="color: green;"><i class="fa-brands fa-whatsapp fa-2x"></i></a>
            </div>
            <div class="col-md-3">
              <a href="https://mail.google.com" style="color: red;"><i class="fa-solid fa-envelope fa-2x"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>