<div class="container-fluid" style="background-color: rgb(252, 240, 242); margin-top: 20px; margin-bottom: 10px;">
    <div class="row">
        <div class="col-md-6">
            <img src="assets/image4.jpg" alt="" style="width: 100%; height: 450px; border-radius: 10px;" >
        </div>
        <div class="col-md-6">
            <div class="container">

       
            <ol>
                <h2>Benefits of Recommending Mittsure <br>Books for Schools</h2>
                <li>Interactive digital education platform for all classes</li>
                <li>Almost all subjects' Fun2Learn animated content for beginners (Nursery to 4)</li>
                <li>Informative Digital Classroom sessions based on hourly lectures comprising entire syllabus from
                    class 5 onwards</li>
                <li>Hi-tech online classroom sessions in the absence of a teacher</li>
                <li> As teachers' helping hand, comprehensive digital Teacher's Manual for all subjects </li>
                <li>Offering an extensive range of online programs for teachers' still development and technology
                    awareness</li>
                <li>Transmitting integrated School Management (ERP) Software Modules to transfigure manual processes
                    into automated structures</li>
                <li>Encouraging parents to deposit the outstanding fee of students on time using the system provided by
                    Mittsure</li>
            </ol>
        </div>
        </div>
    </div>
</div>